body {
  margin: 60px;
  background: #101;
}

.row-number {
  transform: rotate(90deg);
  display: inline-block;
  position: relative;
  top: -10px;
  color: white;
}

.theatre {
  display: flex;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cinema-seats {
  display: flex;
}
.cinema-seats .seat {
  cursor: pointer;
}
.cinema-seats .seat:hover:before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 7px;
}
.cinema-seats .seat.active:before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 7px;
}

.cinema-seats .seat.sold:before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(84, 82, 82, 0.9);
  border-radius: 7px;
}

.cinema-seats .cinema-row {
  position: relative;
  left: -75px;
  transform: rotate(90deg) translateX(0px) skew(0deg);
}
.cinema-seats .seat {
  width: 35px;
  height: 50px;
  border-radius: 7px;
  background: linear-gradient(to top, #761818, #761818, #761818, #761818, #761818, #B54041, #F3686A);
  margin-bottom: 10px;
  margin-top: -32px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  transform: rotate(90deg) translateX(0px) skew(0deg);
}
.cinema-seats .seat-number {
  font-size: 24px;
  position: relative;
  top: 10px;
  right: -10px;
}
.cinema-seats .row-1 {
  transform: rotate(-90deg) translateX(0px) skew(0deg);
  position: relative;
  top: -220px;
  left: -240px;
}
.cinema-seats .row-1 .seat {
  transform: rotate(90deg) translateX(0px) skew(0deg);
  margin: 1%;
}
.cinema-seats .row-2 {
  transform: rotate(-90deg) translateX(0px) skew(0deg);
  position: relative;
  top: -155px;
  left: -275px;
}
.cinema-seats .row-2 .seat {
  transform: rotate(90deg) translateX(0px) skew(0deg);
  position: relative;
  margin: 1%;
}
.cinema-seats .row-3 {
  transform: rotate(-90deg) translateX(0px) skew(0deg);
  position: relative;
  top: -90px;
  left: -310px;
}
.cinema-seats .row-3 .seat {
  transform: rotate(90deg) translateX(0px) skew(0deg);
  position: relative;
  margin: 1%;
}