<?xml version="1.0" encoding="UTF-8"?>

<web-app version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>GetAllSoldSeatController</servlet-name>
    <servlet-class>controller.GetAllSoldSeatController</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>GetAllSoldSeatController</servlet-name>
    <url-pattern>/getallsoldseat.do</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>HallController</servlet-name>
    <servlet-class>controller.HallController</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>HallController</servlet-name>
    <url-pattern>/hall.do</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>SelectSeatController</servlet-name>
    <servlet-class>controller.SelectSeatController</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>SelectSeatController</servlet-name>
    <url-pattern>/selectSeat.do</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>BuySeatController</servlet-name>
    <servlet-class>controller.BuySeatController</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>BuySeatController</servlet-name>
    <url-pattern>/buySeat.do</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Hall</servlet-name>
    <jsp-file>/hall.jsp</jsp-file>
  </servlet>

  <servlet-mapping>
    <servlet-name>Hall</servlet-name>
    <url-pattern>/hall.jsp</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Payment</servlet-name>
    <jsp-file>/payment.jsp</jsp-file>
  </servlet>

  <servlet-mapping>
    <servlet-name>Payment</servlet-name>
    <url-pattern>/payment.jsp</url-pattern>
  </servlet-mapping>

</web-app>
        